       .main{
        direction: rtl;
            font-family: 'Cairo', sans-serif;
            background-color: #f9f9f9;
            padding: 30px;
            color: #333;
        }

        .nav-tabs .nav-link {
            border: none;
            color: #333;
            font-weight: bold;
        }

        .nav-tabs .nav-link.active {
            background-color: #00b894;
            color: white;
            border-radius: 0;
        }

        .tab-content {
            padding: 20px;
            background-color: #fff;

            border-top: 2px solid #00b894;
        }

        .section-content {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 30px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }

        .section-content h4 {
    display: inline;
    color: #222;
    font-weight: bold;
    margin-top: 30px;
}

        .section-content p {
            line-height: 1.8;
            font-size: 16px;
        }

        .section-content img {
            max-width: 100%;
            border-radius: 10px;
            margin: 10px 0;
        }


        .double-images {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin: 20px 0;
        }

        .double-images img {
            flex: 1 1 48%;
        }

        .image-right {
            float: right;
            width: 200px;
            margin-left: 20px;
        }

        /*  */
        .product-specs tr:nth-child(even) td,
        .product-specs tr:nth-child(even) th {
            background-color: #f8f8f8;
        }

        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            border-style: none;

            border-width: 0 !important;
        }

/*  */
.date {
    text-align: end;
    width: 50vw;
}
.review-box img {
    width: 70px;
    height: 70px;
}
/* 
 */
  .stars {
      display: inline-flex;
      font-size: 40px;
      cursor: pointer;
    }

    .star {
      color: #ccc;
      transition: color 0.3s;
    }

    .star.active {
      color: #ffc107;}
        @media (max-width: 768px) {
            .image-right {
                float: none;
                display: block;
                margin: 0 auto 20px;
                width: 100%;
            }

            .double-images {
                flex-direction: column;
            }

            .double-images img {
                width: 100%;
            }
        }
